<h2 class="text-center alert alert-primary">Contact Page</h2>

<div class="container">
  <h2>Contact</h2>
  <hr>
  <address>
    <strong>Start Bootstrap</strong>
    <br>3481 Melrose Place
    <br>Beverly Hills, CA 90210
    <br>
  </address>
  <address>
    <abbr title="Phone">P:</abbr>
    (123) 456-7890
    <br>
    <abbr title="Email">E:</abbr>
    <a href="mailto:#">name@example.com</a>
  </address>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda distinctio nam unde. Accusantium aspernatur, cum ex facere hic nisi nobis numquam optio quae sapiente! A aliquam aspernatur odit repellendus veniam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet animi at autem consequuntur debitis earum, error et illo iste libero non nulla, numquam possimus, recusandae saepe suscipit tempore voluptatibus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias amet, at aut consequuntur cum delectus dolor dolore doloribus fugit magnam nobis pariatur porro possimus reiciendis repellendus sequi tempora voluptatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab cumque deleniti eligendi explicabo harum illo iste qui, repudiandae similique tempore veritatis voluptas voluptatum. Culpa, iusto ratione. Atque ex ipsum labore?</p>
</div>
