<div class="container h-100">
  <div class="d-flex justify-content-center h-100">
    <div class="user_card">
      <div class="d-flex justify-content-center">
        <div class="brand_logo_container">
          <img src="https://cdn.freebiesupply.com/logos/large/2x/pinterest-circle-logo-png-transparent.png" class="brand_logo" alt="Logo">
        </div>
      </div>
      <div class="d-flex justify-content-center form_container">
        <form novalidate [formGroup]="registerLogin" (ngSubmit)="loginSubmit()">
          <div class="input-group mb-3" [ngClass]="{
          'has-error': nameLogin.invalid && nameLogin.dirty,
          'has-success': nameLogin.valid && nameLogin.dirty
          }">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" class="form-control input_user" placeholder="name" formControlName="nameLogin">
          </div>
          <div class="alert alert-danger" *ngIf="nameLogin.errors && (nameLogin.dirty || nameLogin.touched)">
            <p *ngIf="nameLogin.errors.required">поле обяезателбное для ввода </p>
            <p *ngIf="nameLogin.errors.minlength">не правилни длина {{nameLogin.errors.minlength.requiredLength}}</p>
            <p *ngIf="nameLogin.errors.maxlength">не правилни длина {{nameLogin.errors.maxlength.requiredLength}}</p>
          </div>
          <div class="input-group mb-2" [ngClass]="{
          'has-error': passwordLogin.invalid && passwordLogin.dirty,
          'has-success': passwordLogin.valid && passwordLogin.dirty
          }">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input type="password" class="form-control input_pass" placeholder="password" formControlName="passwordLogin">
          </div>
          <div class="alert alert-danger" *ngIf="passwordLogin.errors && (passwordLogin.dirty || passwordLogin.touched)">
            <p *ngIf="passwordLogin.errors.required">поле обяезателбное для ввода </p>
            <p *ngIf="passwordLogin.errors.minlength">не правилни длина {{passwordLogin.errors.minlength.requiredLength}}</p>
            <p *ngIf="passwordLogin.errors.maxlength">не правилни длина {{passwordLogin.errors.maxlength.requiredLength}}</p>
          </div>
          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customControlInline">
              <label class="custom-control-label" for="customControlInline">Remember me</label>
            </div>
          </div>
          <div class="d-flex justify-content-center mt-3 login_container">
            <button type="submit" class="btn login_btn" [disabled]="registerLogin.invalid" routerLink="/home">Login</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
